
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;700&display=swap');
head{
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}