.nav{
  margin-left: 70px;
 font-size: 17px;
 margin-top: 20px;
}
@media ( max-width: 990px){
  .nav{
    margin-left: 0px;
    font-size: 17px;
    margin-top: 20px;
    /* border-bottom: 3px solid #bbb; */
  }
  .TestButton{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 6px;
  }
  
.dropdown-content {
  visibility: hidden;
}

.dropdown-content-lib{
  visibility: hidden;
}
}

.nav_items{
  margin-left: 30px;
}

 .TestButton:hover{
   color:white;
 }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 500px;
  margin-left: -150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  /* margin-top: 16px; */
}

.dropdown-content-lib{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 450px;
  margin-left: -150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  /* margin-top: 16px; */
}
.top-button{
  font-size: 15px;
  margin-left: 10px;
  color: #576071;
  text-transform: uppercase;
  font-weight: bold;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.desc{
  font-size: 13px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #7f7f7f;
  margin-left: 30px;
}
.desc_of_Tools{
  font-size: 13px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #7f7f7f;
  margin-left: 50px;
}
.button-group{
  margin-left: 20px;
}
/* ------------------First group-------------------- */
.button-1 {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #6b4f5e;
}

.button-1:hover {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #5f394d;
}

/* ------------------Second group-------------------- */
.button-2 {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #598a76;
}

.button-2:hover {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #448b6f;
}

/* ------------------third group-------------------- */
.button-3 {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #5f8485;
}

.button-3:hover {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #418788;
}

/* ------------------Forth group-------------------- */
.button-4 {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color:#c59844;
}

.button-4:hover {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 10px;
  background-color:#d19220;
}

.top-button:hover { cursor: pointer; color: #aaaabe;}
/* .desc:hover { cursor: pointer;}
.desc_of_Tools:hover {cursor: pointer;} */


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown-content-lib a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content-lib {display: block;}